.npmignore
/scripts
/src
/test
/dev
/out/test
/out/**/*.map
/images
/test-data
/test-workspace
/documentation
/e2e

tsconfig.json
tslint.json
.travis.yml
.vscode
.project
node_modules
*.test.js
*.js.map